<h1><%= @lesson.name %> Details</h1>

<button class="btn btn-warning"><%= link_to "Edit Lesson", edit_lesson_path(@lesson) %> &nbsp&nbsp</button>
<button class="btn btn-success"><%=  link_to "Return to Lessons", lessons_path %>&nbsp&nbsp</button>
<button class="btn btn-danger"><%= link_to "Delete Lesson", lesson_path(@lesson),
                          :data => {:confirm => "Really?",
                          :method => "delete"} %></button>
<hr>
WORDS
