<h1><%= @lesson.name %> Details</h1>

<button class="btn btn-warning"><%= link_to "Edit #{@lesson.name}", edit_section_lesson_path %> &nbsp&nbsp</button>
<button class="btn btn-success"><%=  link_to "Return to #{@section.name}", section_lessons_path %>&nbsp&nbsp</button>
<%= link_to "Delete  #{@lesson.name}", section_lessons_path(@lesson), class: "btn btn-danger", color: '#FFFFC0',
                          :data => {:confirm => "Really?",
                          :method => "delete"} %>
<hr>
